/src/components/patternList/patternPrint.jsx
/src/components/patternList/toPrint.jsx
/src/components/patternList/toExport.jsx
/src/components/patternList/toExport2.jsx
src/components/patternList/toExport2.jsx
