.tab-content {
    padding: 2em;
}

.dropdown-toggle {
    color: #4f5d76 !important;
}

.dropdown-menu {
    background-color: #4f5d76 !important;
    a,
    button {
        background-color: #4f5d76 !important;
        color: #f2efea !important;
        outline: none !important;
        border: none !important;
    }
}
